/*.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdd5ea;

}
.titulo {
    color: #495867;
    font-size: xx-large;
    font-weight: 800;
}*/